/.vs/TestBlog/v15/.suo
/.vs/TestBlog/v15/Server/sqlite3/db.lock
/.vs/TestBlog/v15/Server/sqlite3/storage.ide
/.vs/TestBlog/v15/Server/sqlite3/storage.ide-shm
/.vs/TestBlog/v15/Server/sqlite3/storage.ide-wal
/BlogData/bin/Debug/BlogData.dll
/BlogData/bin/Debug/BlogData.pdb
/BlogData/obj/Debug/BlogData.csproj.CopyComplete
/BlogData/obj/Debug/BlogData.csproj.CoreCompileInputs.cache
/BlogData/obj/Debug/BlogData.csproj.FileListAbsolute.txt
/BlogData/obj/Debug/BlogData.csprojResolveAssemblyReference.cache
/BlogData/obj/Debug/BlogData.dll
/BlogData/obj/Debug/BlogData.pdb
/TestBlog.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/TestBlog.Tests/bin/Debug/TestBlog.dll
/TestBlog.Tests/bin/Debug/TestBlog.dll.config
/TestBlog.Tests/bin/Debug/TestBlog.pdb
/TestBlog.Tests/bin/Debug/TestBlog.Tests.dll
/TestBlog.Tests/bin/Debug/TestBlog.Tests.pdb
/TestBlog.Tests/obj/Debug/TestBlog.Tests.csproj.CopyComplete
/TestBlog.Tests/obj/Debug/TestBlog.Tests.csproj.CoreCompileInputs.cache
/TestBlog.Tests/obj/Debug/TestBlog.Tests.csproj.FileListAbsolute.txt
/TestBlog.Tests/obj/Debug/TestBlog.Tests.csprojResolveAssemblyReference.cache
/TestBlog.Tests/obj/Debug/TestBlog.Tests.dll
/TestBlog.Tests/obj/Debug/TestBlog.Tests.pdb
/TestBlog/bin/TestBlog.dll
/TestBlog/bin/TestBlog.pdb
/TestBlog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestBlog/obj/Debug/TestBlog.csproj.CopyComplete
/TestBlog/obj/Debug/TestBlog.csproj.CoreCompileInputs.cache
/TestBlog/obj/Debug/TestBlog.csproj.FileListAbsolute.txt
/TestBlog/obj/Debug/TestBlog.csprojResolveAssemblyReference.cache
/TestBlog/obj/Debug/TestBlog.dll
/TestBlog/obj/Debug/TestBlog.pdb
