
@{
    ViewBag.Title = "Create Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
}

<h2>@ViewBag.Title</h2>


@Html.Partial("_CreateEditForm")



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () { 
            tinymce.init({
                selector: '#editor',
                width: "70%",
                height: "250"
            });

            
        });
    </script>
}