
@{
    ViewBag.Title = "Edit Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_CreateEditForm")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '#editor',
                width: "70%",
                height: "250"
            });

            $('.datepicker').datetimepicker();
        });
    </script>
}