@model IQueryable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage User Roles</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>
                    <a href="@Url.Action("Permissions", "Manage", new {roleid = r.Id})" title="View Permissions">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="@Url.Action("Permissions", "Manage", new { roleid = r.Id })" title="Manage User">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>